/*Normalize*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*Variables*/
:root{
    --principal-color: #eeecec;
    --secundary-color: yellow;
    --background: black;
}
    


/*Global*/

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
}

html{
    font-size: 62.5%;
    transition: 5s;
}

body{
    background-color: var(--background);
    color: var(--principal-color);
}
nav{
    font-size: 1.2em;
}

a{
    text-decoration: none;
    color: var(--principal-color);
    
}

/* Index */

.style__h1{
    display: inherit;
    font-size: 2.9em;
    text-align: center;
    padding: 20px;
    align-items: center
}

.card__img{
    align-items: center;
    border-radius: 80px;
    width: 150px;
    height: 150px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 250px);
      
}

.banner{
    grid-column: 1/5;
    grid-row: 1/3;
    background-image: url(https://cdna.artstation.com/p/assets/images/images/004/862/684/large/jn-zhim-2013-06-caption-karatekid.jpg?1486823896);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
        
}   
.title{
    display: inherit;
    align-items: center;
    grid-column: span 4;
    grid-row: 3/4;
    justify-items: center
}

.card{
    width: 400px;
    border: var(--principal-color) solid 2px;
    text-align: center;
    font-size: 1.9em;
    padding: 30px;
}

h3,
p{
    padding: 20px;
}

/* Cobra Kai */

.grid-dojo{
    display: grid;    
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}

.picture__sensei img{
    border-radius: 80px;
}
.picture__sensei{
    flex-wrap: wrap;
    width: 100%;    
    padding: 30px;    
}

.picture__text{
    flex-wrap: wrap;    
    text-align: center;
    font-size: 1.9em;
    color: var(--secundary-color);
}

div img{
    width: 100%;
    align-items: center;
}

/* Miyagi */


.miyagi{
    background-color: white;
    color: orange;
    font-style: bold;
}

/* Eagle */ 

.eagle{
    background-color: red;
    color: white;
    font-style: bold;
}

/* footer */

footer p{
    font-size: 1.6em;
}

.card:hover {
    transform: scale(1.23); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }