.card{
    width: 400px;
    border: $principal-color solid 2px;
    text-align: center;    
    padding: 30px;
    margin: 20px;

}

#cobra__card:hover{
    border: map-get($colors-cobra, font-color) solid 2px;
    transform: scale(1.10); 
}

#miyagi__card:hover{
    border: orange solid 2px;
    transform: scale(1.10); 
}

#eagle__card:hover{
    border: map-get($colors-eagle, background) solid 2px;
    transform: scale(1.10); 
}

.card__radius{
    border-radius: 80px;
    width: 150px;
    height: 150px;
}
.card__img{
    @extend .card__radius;
    align-items: center;    
}


.flex{
    @include flex(flex, wrap,space-around,30px);
}

div{
    h2{        
        text-align: center;
        letter-spacing: 5px;
        padding: 20px;
    }
}